*{
    font-family: 'Bebas Neue', cursive;
}

table{
    background-image: url(.src/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    margin: auto;
    padding: 20px;
}
td{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
th{
    background-color:aquamarine;
    padding: 30px;
    font-weight : bolder;
    border-radius: 20px;
}
tr:nth-child(even){
    background-color: rgb(184, 202, 166);
    border-radius: 50px;
}
tr:nth-child(odd){
    background-color: rgb(185, 226, 185);
    border-radius: 50px;
}

.div{
    background-color: rgb(58, 72, 90);
}
.para{
    background-color: lightseagreen;
    color: lightpink;
}
.img{
    float:right;
    margin: 30px;
    padding: 30px;
}
.class{
    float: center;
    letter-spacing: 50px;
    text-justify: auto;
}
.home{
    border:;
    text-align: center;
    letter-spacing: 50px;
}
.course{
 text-align: center;
 letter-spacing: 30px;
}
nav{
    text-align: center;
    border-color: ;
    border-radius: 10%;
    border: 2px;
}
a{
    padding:20px;
    background-color:none;
}
a:hover{
    background-color: darkkhaki;
    color: white;
}
body{
    background-color:;
    background-size:auto;
}

.line{
    background-image: url(.src/diego-ph-VmRxRz0gD_s-unsplash.jpg);
  text-align: justify;
  padding: 20px;
  direction: ltr;
  text-indent:100px;
}
.fig{
    height:auto;
    width:auto;
}
figure{
    background-color:none;
 display:inline-table;
}
img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
figcaption{
    text-align: center;
}
}
h4{
    text-align: center;
}