.main{
    width: 1000px;
    height: 500px;
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.first{
    height: 200px;
    width: 300px;
    background-color: cadetblue;
}
.second{
    height: 200px;
    width: 300px;
    background-color: lightcoral;
}
.third{
    height: 200px;
    width: 300px;
    background-color: darkgoldenrod;
}
.fourth{
    height: 200px;
    width: 300px;
    background-color: aquamarine;
}
.fifth{
    height: 200px;
    width: 300px;
    background-color: lawngreen;
}
.sixth{
    height: 200px;
    width: 300px;
    background-color: lightblue;
}