body{
    background-image: url(.src/diego-ph-VmRxRz0gD_s-unsplash.jpg);
    background-size: cover;.
}
.from-cont{
    background-color: rgb(192, 208, 238);
    box-shadow: 0 0 10px;
    width: 300px;
    height: 400px;
    padding: 15px;
    margin: 150px auto;
    text-align: center;
    border-radius: 30px;
}
img{
    height: 100px;
    width: 120px;
    margin: -70px;
    padding-bottom:150px ;
}
input{
    margin: 5px;
    font-size: 17px;
    border-radius: 20px;
    outline: none;
    text-align: center;

}
button{
    padding: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    background-color: black;
}
::placeholder{
    color: blueviolet;
}
