 
 .navabr{
    background-color: rgb(163, 163, 235);
    padding: 10px;
    align-content: center;
    margin: 20px;
    border: 2px solid;

}
a{
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: white;
    color: black;
}

p{background-color: rgb(201, 201, 243);
padding: 20px;
margin: 30px;
text-align: justify;
text-indent: 100px;
direction: ltr;}


.imgtoright{
    float: right;
    width: 200px;
    height: 200px;
    margin: 10px;
}

    
}

table{
    width: 700px;
    padding: 20px;
    margin: auto;
    text-align: center;
    float: inline-end;
}
th{
    background-color: goldenrod;
    padding: 20px;
    font-weight:bolder;
    border-radius: 15px;
}
td{
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
tr:nth-child(odd){
    background-color: grey;
    color: black;
}
tr:nth-child(even){
background-color: hotpink;
color: indigo;
}
h2{
    text-align: center;
    font-size: x-large;
}
h1{
    text-align: center;
    font-size: x-large;
}
figure{display: inline-block;}
img{height: 100px;
width: 100px;
padding: 20p;}